body {
	background-color: black;
}
.Aboutmaincontainer {
	height: 100vh;
	background-color: black;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 70px;
	font-family: monospace;
	font-size: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.detail_container {
	height: auto;
	width: auto;
	background-color: transparent;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
}
.photo {
	height: 200px;
	width: auto;
	background-color: transparent;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
}
.photocontainer {
	width: 20%;
	height: 150px;
	background-image: url('../images/profile.jpg');
	border-radius: 15px;
	background-position-x: 70%;
	background-position-y: 10%;
	background-size: 350px 350px;
}
.aboutcontainer {
	height: 150px;
	width: 80%;
	background-color: transparent;
	color: white;
	font-size: 12px;
}
.maininfo {
	height: 700px;
	width: auto;
	background-color: transparent;

	margin-left: 30px;
	margin-right: 30px;
	border-radius: 30px;
	padding: 15px;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
}
@font-face {
	font-family: 'bruno';
	src:
		local('bruno'),
		url('../../fonts/BrunoAce-Regular.ttf') format('truetype');
}
.aboutheading {
	font-size: 10px;
	font-family: 'bruno';
	color: black;
	background-color: black;
	border-radius: 50%;
}
.aboutsubheading {
	font-size: 17px;
	color: white;
}
.contacts {
	padding: 0px;
}
.Educontainer {
	height: 70vh;
	width: 100%;
	margin: 10px;
	display: flex;
	font-family: monospace;
	font-size: 12px;
	text-align: justify;
	flex-direction: column;
	justify-content: space-between;
	background-color: black;
	border-radius: 10px;
	margin-bottom: 10px;
}
.poonjar {
	height: 25vh;
	width: 100%;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
}
.essex {
	height: 25vh;
	width: 100%;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
}
.centrified {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.Skills {
	height: 350px;
	width: 200px;
	position: relative;
	/* Essential for positioning child elements absolutely */
}
.Skillcontainer {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent; /* for visibility */
	z-index: 10;
	color: white;
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: center;
	border: solid white;
	font-family: bruno;
	font-size: 12px;
}
.Skillitem {
	position: absolute;
	width: 60px;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	height: 60px;
	top: 50%; /* Start at center */
	left: 50%; /* Start at center */
	transition-duration: 0.5s;

	/* The Secret Sauce */
	/* 1. Stay centered, 2. Orbit radius, 3. Rotate on own axis */
	animation: orbit-and-spin 30s linear infinite;
	background: conic-gradient(rgba(255, 255, 255, 0.3) var(--p), transparent 0);

	/* 3. Transition the variable itself with a 1s delay */
	transition: --p 0.1s ease-out 0.1s;
}

.Skillitem:hover {
	border: solid white;
	transition-duration: 0.5s;
}
.cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Skillitem:nth-child(2) {
	transform: translate(-50%, -50%) rotate(0deg) translate(150px); /* Adjust 150px for desired radius */
}

.Skillitem:nth-child(3) {
	transform: translate(-50%, -50%) rotate(24deg) translate(150px); /* Angle: 360deg / number of items (e.g., 5) */
}

.Skillitem:nth-child(4) {
	transform: translate(-50%, -50%) rotate(48deg) translate(150px);
}

.Skillitem:nth-child(5) {
	transform: translate(-50%, -50%) rotate(72deg) translate(150px);
}

.Skillitem:nth-child(6) {
	transform: translate(-50%, -50%) rotate(96deg) translate(150px);
}
.Skillitem:nth-child(7) {
	transform: translate(-50%, -50%) rotate(120deg) translate(150px);
}
.Skillitem:nth-child(8) {
	transform: translate(-50%, -50%) rotate(144deg) translate(150px);
}
.Skillitem:nth-child(9) {
	transform: translate(-50%, -50%) rotate(168deg) translate(150px);
}
.Skillitem:nth-child(10) {
	transform: translate(-50%, -50%) rotate(192deg) translate(150px);
}
.Skillitem:nth-child(11) {
	transform: translate(-50%, -50%) rotate(216deg) translate(150px);
}
.Skillitem:nth-child(12) {
	transform: translate(-50%, -50%) rotate(240deg) translate(150px);
}
.Skillitem:nth-child(13) {
	transform: translate(-50%, -50%) rotate(264deg) translate(150px);
}
.Skillitem:nth-child(14) {
	transform: translate(-50%, -50%) rotate(288deg) translate(150px);
}
.Skillitem:nth-child(15) {
	transform: translate(-50%, -50%) rotate(312deg) translate(150px);
}
.Skillitem:nth-child(16) {
	transform: translate(-50%, -50%) rotate(336deg) translate(150px);
}
@keyframes orbit-and-spin {
	from {
		transform: translate(-50%, -50%) /* Keep anchored to center */ rotate(0deg)
			/* Orbit position */ translateX(150px)
			/* Orbit radius (distance from center) */ rotate(0deg); /* Spin on its own axis */
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg) /* One full orbit */
			translateX(150px) rotate(-360deg); /* One full self-spin */
	}
}
.Skillitem:nth-child(2) {
	animation-delay: -2s;
}
.Skillitem:nth-child(3) {
	animation-delay: -4s;
}
.Skillitem:nth-child(4) {
	animation-delay: -6s;
}
.Skillitem:nth-child(5) {
	animation-delay: -8s;
}
.Skillitem:nth-child(6) {
	animation-delay: -10s;
}
.Skillitem:nth-child(7) {
	animation-delay: -12s;
}
.Skillitem:nth-child(8) {
	animation-delay: -14s;
}
.Skillitem:nth-child(9) {
	animation-delay: -16s;
}
.Skillitem:nth-child(10) {
	animation-delay: -18s;
}
.Skillitem:nth-child(11) {
	animation-delay: -20s;
}
.Skillitem:nth-child(12) {
	animation-delay: -22s;
}
.Skillitem:nth-child(13) {
	animation-delay: -24s;
}
.Skillitem:nth-child(14) {
	animation-delay: -26s;
}
.Skillitem:nth-child(15) {
	animation-delay: -28s;
}
.Skillitem:nth-child(16) {
	animation-delay: -30s;
}
@property --p {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}
.Skillitem:nth-child(2):hover {
	--p: 60%;
}
.Skillitem:nth-child(3):hover {
	--p: 100%;
}
.Skillitem:nth-child(4):hover {
	--p: 75%;
}
.Skillitem:nth-child(5):hover {
	--p: 80%;
}
.Skillitem:nth-child(6):hover {
	--p: 60%;
}
.Skillitem:nth-child(7):hover {
	--p: 40%;
}
.Skillitem:nth-child(8):hover {
	--p: 30%;
}
.Skillitem:nth-child(9):hover {
	--p: 50%;
}
.Skillitem:nth-child(10):hover {
	--p: 65%;
}
.Skillitem:nth-child(11):hover {
	--p: 45%;
}
.Skillitem:nth-child(12):hover {
	--p: 30%;
}
.Skillitem:nth-child(13):hover {
	--p: 30%;
}
.Skillitem:nth-child(14):hover {
	--p: 70%;
}
.Skillitem:nth-child(15):hover {
	--p: 20%;
}
.Skillitem:nth-child(16):hover {
	--p: 65%;
}
.Skills:hover .Skillitem {
	animation-play-state: paused;
}
.skill {
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	filter: invert(100%);
	background-color: transparent;
}
.Skillitem:nth-child(16) .skill {
	width: 30px;
	height: 30px;
	filter: invert(0%);
	background-color: transparent;
}

.Poonjarabout {
	width: 100%;
	height: 25vh;

	color: white;
	padding-right: 20px;
	border-radius: 15px 0px 0px 15px;
}
.Poonjarpic {
	height: 25vh;
	width: 35vb;
	background-image: url('../images/IHRD_Logo.jpg');
	background-size: cover;
	border-radius: 15px;
}
.colname {
	font-family: monospace;
	font-size: 16px;
	font-weight: 700;
}
.Essexabout {
	width: 100%;
	height: 25vh;
	color: white;
	padding-left: 20px;
	border-radius: 0px 15px 15px 0px;
}
.Essexpic {
	height: 25vh;
	width: 35vb;
	background-image: url('../images/essex.jpeg');
	background-size: cover;
	border-radius: 15px;
}
.projectdiv {
	overflow: scroll;
	width: 100%;
	height: 40vh;
}
.project {
	width: 450px;
	height: 400px;
	overflow: scroll;
}
@media only screen and (max-width: 700px) {
	.Skillitem {
		position: unset;
		width: 30px;
		display: flex;
		justify-content: center;
		border-radius: 30px;
		height: 30px;
		top: auto; /* Start at center */
		left: auto; /* Start at center */
		transition-duration: 0.5s;

		/* The Secret Sauce */
		/* 1. Stay centered, 2. Orbit radius, 3. Rotate on own axis */
		animation: none;
		background: conic-gradient(
			rgba(255, 255, 255, 0.3) var(--p),
			transparent 0
		);

		/* 3. Transition the variable itself with a 1s delay */
		transition: --p 0.1s ease-out 0.1s;
	}

	@keyframes orbit-and-spin {
		from {
			transform: translate(-50%, -50%) /* Keep anchored to center */
				rotate(0deg) /* Orbit position */ translateX(90px)
				/* Orbit radius (distance from center) */ rotate(0deg); /* Spin on its own axis */
		}
		to {
			transform: translate(-50%, -50%) rotate(360deg) /* One full orbit */
				translateX(90px) rotate(-360deg); /* One full self-spin */
		}
	}
	.Skillitem:nth-child(2) {
		transform: none;
		order: 1;
	}

	.Skillitem:nth-child(3) {
		transform: none;
		order: 2;
	}

	.Skillitem:nth-child(4) {
		transform: none;
		order: 3;
	}

	.Skillitem:nth-child(5) {
		transform: none;
		order: 4;
	}

	.Skillitem:nth-child(6) {
		transform: none;
		order: 5;
	}
	.Skillitem:nth-child(7) {
		transform: none;
		order: 6;
	}
	.Skillitem:nth-child(8) {
		transform: none;
		order: 7;
	}
	.Skillitem:nth-child(9) {
		transform: none;
		order: 8;
	}
	.Skillitem:nth-child(10) {
		transform: none;
		order: 9;
	}
	.Skillitem:nth-child(11) {
		transform: none;
		order: 10;
	}
	.Skillitem:nth-child(12) {
		transform: none;
		order: 11;
	}
	.Skillitem:nth-child(13) {
		transform: none;
		order: 12;
	}
	.Skillitem:nth-child(14) {
		transform: none;
		order: 13;
	}
	.Skillitem:nth-child(15) {
		transform: none;
		order: 14;
	}
	.Skillitem:nth-child(16) {
		transform: none;
		order: 15;
	}
	.Skills {
		width: 350px;
		height: 30px;
		width: 100%;
		padding-top: 0;
		margin-top: 0;
		margin: 20px;
		margin-bottom: 180px;
		display: flex;
		flex-wrap: wrap;
		gap: 17px;

		position: unset;
		/* Essential for positioning child elements absolutely */
	}
	.centrified {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.Skillcontainer {
		position: unset;
		width: 100%;
		height: 20px;
		border-radius: 5%;
		top: auto;
		left: auto;

		background: transparent; /* for visibility */
		z-index: 10;
		color: white;
		display: flex;
		flex: 0 0 100%;
		justify-content: center; /* Centers horizontally */
		align-items: center;
		border: none;
		font-family: bruno;
		font-size: 8px;
	}

	.skill {
		width: 20px;
		height: 20px;
		filter: invert(100%);
		background-color: transparent;
	}
	.skill2 {
		width: 20px;
		height: 20px;
		background-color: transparent;
	}
	.project {
		width: auto;
		height: 400px;
		overflow: scroll;
	}
}
