.projectpage {
	height: auto;
	width: auto;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding-top: 0px;
	padding-bottom: 0px;
}
@font-face {
	font-family: 'bruno';
	src: local('bruno'),
		url('../../fonts/BrunoAce-Regular.ttf') format('truetype');
}
.projectpagecontainer {
	height: 30vh;
	width: auto;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 0px;
	margin-bottom: 0px;
}
.projectpictureframe {
	align-self: center;
	height: 100px;
	width: 120px;
	background-color: white;

	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	border-radius: 15%;
}

.project_body_writeup {
	align-self: center;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.project_body_text {
	width: 250px;
	height: auto;
	font-size: 8px;
	color: white;
	font-family: monospace;
}
.projectbuttoncontainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.learn_btnp {
	height: 15px;
	width: 60px;
	text-align: center;
	font-family: monospace;
	color: black;
	font-size: 8px;
	align-content: center;
	background-color: white;
	align-self: center;
	border-radius: 10px;
	transition-duration: 0.2s;
	margin-bottom: 15px;
	text-decoration: none;
}
a {
	text-decoration: none;
}
.learn_btnp:hover {
	height: 15px;
	width: 100px;
	color: white;
	align-content: center;
	background-color: transparent;
	align-self: center;
	border-radius: 10px;
}
.projectsback {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}
.project_heading {
	background-color: white;
	color: black;
	width: 100%;
	font-size: 10px;
	font-family: 'bruno';
	border-radius: 5px;
	padding-left: 2px;
}
.Skillset {
	color: white;

	font-family: monospace;
	font-size: 12px;
	margin-bottom: 3px;
}
@media only screen and (max-width: 800px) {
	.projectpage {
		height: auto;
		width: auto;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 0px;
		margin: 0px;
	}
	@font-face {
		font-family: 'bruno';
		src: local('bruno'),
			url('../../fonts/BrunoAce-Regular.ttf') format('truetype');
	}
	.projectpagecontainer {
		height: auto;
		width: auto;
		background-color: rgba(0, 0, 0, 0.2);

		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 0px;
		margin-bottom: 0px;
	}
	.projectpictureframe {
		align-self: center;
		height: 80px;
		width: 100px;
		border-radius: 15%;
	}

	.project_body_writeup {
		align-self: center;
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.project_body_text {
		width: 175px;
		height: auto;
		font-size: 8px;
		color: white;
		font-family: monospace;
	}
	.projectbuttoncontainer {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
	}
	.learn_btnp {
		height: 15px;
		width: 60px;
		text-align: center;
		font-family: monospace;
		color: black;
		font-size: 8px;
		align-content: center;
		background-color: white;
		align-self: center;
		border-radius: 10px;
		transition-duration: 0.2s;
		margin-bottom: 15px;
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}
	.learn_btnp:hover {
		height: 15px;
		width: 50px;
		color: white;
		align-content: center;
		background-color: transparent;
		align-self: center;
		border-radius: 10px;
	}
	.projectsback {
		background-color: black;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.project_heading {
		background-color: white;
		color: black;
		width: 100%;
		font-size: 10px;
		font-family: 'bruno';
		border-radius: 5px;
		padding-left: 2px;
	}
	.Skillset {
		color: white;

		font-family: monospace;
		font-size: 10px;
		margin-bottom: 3px;
	}
}
